@{
    ViewBag.Title = "Index";
}

<h2>常用报表</h2>
<ul>
    <li> 热源启停时间 </li>
    <li> 供热天数比较表 </li>
    <li> 供暖季室外温度比较 </li>
    <li> 供暖季室外温度段统计 </li>
    <li> 各月最低室温外温度比较 </li>
    <li> 各月预报与实际室外温度统计 </li>
    <li> 计算供热面积汇总表 </li>
    <li> 热源供热量对比 </li>
    <li> 热源供热量按成本划分对比 </li>
    <li> 提前供热量汇总 </li>
    <li> 延长供热量汇总 </li>
    <li> 供气量对比 </li>
    <li> 耗天然气量对比 </li>
    <li> 燃气单耗对比 </li>
    <li> 平均供热量统计 </li>
    <li> 热源平均循环流量对比 </li>
    <li> 热源平均回水温度与上一供暖季对比 </li>
    <li> 热源实际供回水压力对比</li>
    <li> 流量,供压及供水温度最大值汇总 </li>
    <li> 各温度段房间数 </li>
</ul>