@{
    ViewBag.Title = "Index";
}

<h2>常用报表</h2>

<div class="row-fluid">
    <a href="/Reports/DownloadReport?reportType=21" target="_blank" class="smallstat box" onDesktop="span3 noMarginLeft" onTablet="span6">
		<i class="icon-tasks crimson"></i>
		<span class="title">有效监测站统计</span>
	</a>
    <a href="/Reports/DownloadReport?reportType=23" target="_blank" class="smallstat box" onDesktop="span3 " onTablet="span6">
		<i class="icon-building darkGreen"></i>
		<span class="title">非重点站、计量收费站统计</span>
	</a>

</div>
<hr />
<div class="row-fluid">
    <a href="/Reports/DownloadReport?reportType=26" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6 noMarginLeft">
		<i class="icon-leaf darkGreen"></i>
		<span class="title">总明细</span>
	</a>
    <a href="/Reports/DownloadReport?reportType=27" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-leaf darkGreen"></i>
		<span class="title">故障明细</span>
	</a>
    <a href="/Reports/DownloadReport?reportType=24" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-time blue"></i>
		<span class="title">回温超标明细</span>
	</a>
    <a href="/Reports/DownloadReport?reportType=25" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-time blue"></i>
		<span class="title">实际超核算明细</span>
	</a>
</div>
