@{
    ViewBag.Title = "Index";
}

<h2>常用报表</h2>
    <div class="row-fluid">
    <a href="/Reports/DownloadFile?reportType=1" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-time blue"></i>
		<span class="title"></span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-time blue"></i>
		<span class="title">供热天数比较表</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6 noMarginLeft">
		<i class="icon-leaf darkGreen"></i>
		<span class="title">供暖季室外温度比较</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-leaf darkGreen"></i>
		<span class="title">供暖季室外温度段统计</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3 noMarginLeft" onTablet="span6 noMarginLeft">
		<i class="icon-leaf darkGreen"></i>
		<span class="title">各月最低室温外温度比较</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-leaf darkGreen"></i>
		<span class="title">各月预报与实际室外温度统计</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6 onMarginLeft">
		<i class="icon-calendar-empty gold"></i>
		<span class="title">计算供热面积汇总表</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-fire crimson"></i>
		<span class="title">热源供热量对比</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3 noMarginLeft" onTablet="span6 noMarginLeft">
		<i class="icon-money gold"></i>
		<span class="title">热源供热量按成本划分对比</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-fire crimson"></i>
		<span class="title">提前供热量汇总</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6 onMarginLeft">
		<i class="icon-fire crimson"></i>
		<span class="title">延长供热量汇总</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-fire crimson"></i>
		<span class="title">平均供热量统计</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3 noMarginLeft" onTablet="span6 noMarginLeft">
		<i class="icon-rocket orange"></i>
		<span class="title">耗天然气量对比</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-list orange"></i>
		<span class="title">燃气单耗对比</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6 onMarginLeft">
		<i class="icon-rocket orange"></i>
		<span class="title">供气量对比</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-tint blue"></i>
		<span class="title">热源平均循环流量对比</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3 noMarginLeft" onTablet="span6 noMarginLeft">
		<i class="icon-tint blue"></i>
		<span class="title">热源平均回水温度与上一供暖季对比</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-tint blue"></i>
		<span class="title">热源实际供回水压力对比</span>
	</li>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6 onMarginLeft">
		<i class="icon-tasks blue"></i>
		<span class="title">流量,供压及供水温度最大值汇总</span>
	</a>
    <a href="#" target="_blank" class="smallstat box" onDesktop="span3" onTablet="span6">
		<i class="icon-building gold"></i>
		<span class="title">各温度段房间数</span>
	</a>
</div>