
<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
        
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
                        @if (ReliDemo.Infrastructure.Services.MembershipService.CurrentUser != null && ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.是否有集团权限)
                        {
						<li><a href="/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 全网监测</span></a></li>
                        }
                        @if (ReliDemo.Infrastructure.Services.MembershipService.CurrentUser != null && (ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.是否有集团权限 ||  ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.是否有分公司权限 ) && ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.VisibleCompanies.Count > 0)
                        {
                            <li><a class="dropmenu" ><i class="icon-sitemap"></i><span class="hidden-tablet">公司</span></a>
							    <ul >
                                    @foreach (var companyIdAndName in ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.VisibleCompanies)
                                    {
                                        if (companyIdAndName.Id == 0 || companyIdAndName.Id == 4 || companyIdAndName.Id == 5 || companyIdAndName.Id == 6)
                                        {
                                            <li><a class="submenu" href="/Companies/Index?companyId=@companyIdAndName.Id"><i class="icon-sitemap icon-companyname"></i><span class="hidden-tablet"> @companyIdAndName.Name</span></a></li>
                                        }
                                    }
							    </ul>
						    </li>
                        }
                        @if (ReliDemo.Infrastructure.Services.MembershipService.CurrentUser != null && ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.是否有供热中心权限 && ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.VisibleManagerships.Count > 0)
                        {
                            <li><a class="dropmenu" ><i class="icon-plus-sign-alt"></i><span class="hidden-tablet">供热中心</span></a>
							    <ul >
                                    @foreach (var managershipIdAndName in ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.VisibleManagerships)
                                    {
                                        <li><a class="submenu" href="/Companies/ManagershipInfo?managershipId=@managershipIdAndName.Id"><i class="icon-sitemap icon-companyname"></i><span class="hidden-tablet"> @managershipIdAndName.Name</span></a></li>
                                    }
							    </ul>
						    </li>
                        }
						<li><a class="dropmenu"><i class="icon-fire"></i><span class="hidden-tablet"> 热源厂</span></a>
						<ul>
							<li><a class="submenu" href="/HeatSources/Index"><i class="icon-list-alt"></i><span class="hidden-tablet"> 基础信息</span></a></li>
							<li><a class="submenu" href="/HeatSources/RealTime"><i class="icon-eye-open"></i><span class="hidden-tablet"> 实时监测</span></a></li>
                            
						</ul>
						</li>
						<li><a class="dropmenu"><i class="icon-home"></i><span class="hidden-tablet"> 热力站</span></a>
							<ul>
								<li><a class="submenu" href="/Stations/Paged"><i class="icon-list-alt"></i><span class="hidden-tablet"> 基础信息</span></a></li>
								<li><a class="submenu" href="/Stations/RealTime"><i class="icon-eye-open"></i><span class="hidden-tablet"> 实时监测</span></a></li>
								<li><a class="submenu" href="/Stations/Statistics?day=yesterday"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 热耗统计</span></a></li>
                                @if (ReliDemo.Infrastructure.Services.MembershipService.CurrentUser != null && ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.是否有集团权限)
                                {
                                <li><a class="submenu" href="/Stations/ManualDataInput"><i class="icon-pencil"></i><span class="hidden-tablet"> 人工抄表</span></a></li>
                                <li><a class="submenu" href="/Stations/RoomTemperature"><i class="icon-dashboard"></i><span class="hidden-tablet"> 室温导入</span></a></li>
                                }
							</ul>
						</li>
						<li><a class="dropmenu"><i class="icon-cloud"></i><span class="hidden-tablet"> 气象信息</span></a>
							<ul>
								<li><a class="submenu" href="/Weather/WeatherForecast"><i class="icon-flag"></i><span class="hidden-tablet"> 专业气象站</span></a></li>
                                <li><a class="submenu" href="/Weather/Official"><i class="icon-map-marker"></i><span class="hidden-tablet"> 气象监测数据 </span></a></li>
							</ul>
						</li>
                        @if (ReliDemo.Infrastructure.Services.MembershipService.CurrentUser != null && ReliDemo.Infrastructure.Services.MembershipService.CurrentUser.是否有集团权限)
                        {
                            <li><a href="/Cost/Index"><i class="icon-money"></i><span class="hidden-tablet"> 成本分析</span></a></li>
                        }
                        @if (ReliDemo.Infrastructure.Services.MembershipService.CurrentUser != null && HttpContext.Current.User.IsInRole("系统管理员"))
                        {
                            <li><a class="dropmenu"><i class="icon-unlock-alt"></i><span class="hidden-tablet"> 安全日志</span></a>
							    <ul>
								    <li><a href="/Security/UserInfo"><i class="icon-user"></i><span class="hidden-tablet"> 用户信息</span></a></li>
							    </ul>
						    </li>
            }
            @if (ReliDemo.Infrastructure.Services.MembershipService.CurrentUser != null && HttpContext.Current.User.IsInRole("系统管理员"))
            {
            <li>
                  <a href="/Configuration">
                    <i class="icon-gear"></i>
                    <span class="hidden-tablet"> 回温标准</span>
                  </a>
            </li>
            }
            <li><a href="/Reports/Index"><i class="icon-tasks"></i><span class="hidden-tablet"> 常用报表 </span></a></li>
                        <li><a class="dropmenu"><i class="icon-ellipsis-horizontal"></i> <span class="hidden-tablet">独网</span> </a> 
                            <ul>
                                <li><a class="submenu" href="/Companies/Index?companyId=2"><i class="icon-companyname"></i><span class="hidden-tablet"> 科利源供热公司 </span></a> </li>
                                <li><a class="submenu" href="/HeatSources/BasicInfo?heatSourceId=11"><i class="icon-companyname"></i><span class="hidden-tablet"> 松榆里供热厂</span></a></li>
                                <li><a class="submenu" href="/HeatSources/BasicInfo?heatSourceId=5"><i class="icon-companyname"></i><span class="hidden-tablet"> 东郊供热厂</span></a></li>   
                            </ul>
                        </li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
<a id="sidebar-switch" class="open">
  <i class="white icon-reorder"></i>
</a>