
<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				
				<div class="row-fluid actions">
													
					<input type="text" class="search span12" placeholder="...">
				
				</div>	
				
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="#"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 全网监控</span></a></li>
						<li><a class="dropmenu" ><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 公司</span></a>
							<ul >
								<li><a class="submenu" href="infrastructure.html"><i class="icon-sitemap"></i><span class="hidden-tablet"> 创合供热公司</span></a></li>
								<li><a class="submenu" href="messages.html"><i class="icon-sitemap"></i><span class="hidden-tablet"> 合格服务商</span></a></li>
								<li><a class="submenu" href="tasks.html"><i class="icon-sitemap"></i><span class="hidden-tablet"> 科利源供热公司</span></a></li>
								<li><a class="submenu" href="tasks.html"><i class="icon-sitemap"></i><span class="hidden-tablet"> 特诚公司</span></a></li>
								<li><a class="submenu" href="tasks.html"><i class="icon-sitemap"></i><span class="hidden-tablet"> 特力昆公司</span></a></li>
								<li><a class="submenu" href="tasks.html"><i class="icon-sitemap"></i><span class="hidden-tablet"> 天禹供热公司</span></a></li>
								<li><a class="submenu" href="tasks.html"><i class="icon-sitemap"></i><span class="hidden-tablet"> 销售公司</span></a></li>
							</ul>
						</li>	
						<li><a class="dropmenu"><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 热源厂</span></a>
						<ul>
								<li><a class="submenu" href="/HeatSources/Index"><i class="icon-list-alt"></i><span class="hidden-tablet"> 基础信息</span></a></li>
								<li><a class="submenu" href="infrastructure.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> 实时监测</span></a></li>
							</ul>
						</li>
						<li><a class="dropmenu"><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 热力站</span></a>
							<ul>
								<li><a class="submenu" href="/Stations/Paged"><i class="icon-list-alt"></i><span class="hidden-tablet"> 基础信息</span></a></li>
								<li><a class="submenu" href="infrastructure.html"><i class="icon-eye-open"></i><span class="hidden-tablet"> 实时监测</span></a></li>
								<li><a class="submenu" href="infrastructure.html"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 热耗统计</span></a></li>
								<li><a class="submenu" href="infrastructure.html"><i class="icon-edit"></i><span class="hidden-tablet"> 面积修改记录</span></a></li>
								<li><a class="submenu" href="infrastructure.html"><i class="icon-group"></i><span class="hidden-tablet"> 所辖用户</span></a></li>
							</ul>
						</li>
						<li>
							<a class="dropmenu"><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 客户端</span></a>
							<ul>
								<li><a class="submenu" href="infrastructure.html"><i class="icon-hdd"></i><span class="hidden-tablet"> Infrastructure</span></a></li>
							</ul>	
						</li>
						<li><a class="dropmenu"><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 气象信息</span></a>
							<ul>
								<li><a class="submenu" href="infrastructure.html"><i class="icon-hdd"></i><span class="hidden-tablet"> Infrastructure</span></a></li>
							</ul>
						
						</li>
						<li><a href="form.html"><i class="icon-download-alt"></i><span class="hidden-tablet"> 常用报表</span></a></li>
						<li><a href="form.html"><i class="icon-unlock-alt"></i><span class="hidden-tablet"> 安全日志</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
