
<!-- start: Main Menu -->
			<div id="sidebar-left" class="span2">
				
				<div class="row-fluid actions">
													
					<input type="text" class="search span12" placeholder="...">
				
				</div>	
				
				<div class="nav-collapse sidebar-nav">
					<ul class="nav nav-tabs nav-stacked main-menu">
						<li><a href="/"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 全网监控</span></a></li>
						<li><a class="dropmenu" ><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 公司</span></a>
							<ul >
								<li><a class="submenu" href="/Companies/Index?companyId=0"><i class="icon-sitemap"></i><span class="hidden-tablet"> 创合供热公司</span></a></li>
								<li><a class="submenu" href="/Companies/Index?companyId=1"><i class="icon-sitemap"></i><span class="hidden-tablet"> 合格服务商</span></a></li>
								<li><a class="submenu" href="/Companies/Index?companyId=2"><i class="icon-sitemap"></i><span class="hidden-tablet"> 科利源供热公司</span></a></li>
								<li><a class="submenu" href="/Companies/Index?companyId=3"><i class="icon-sitemap"></i><span class="hidden-tablet"> 特诚公司</span></a></li>
								<li><a class="submenu" href="/Companies/Index?companyId=4"><i class="icon-sitemap"></i><span class="hidden-tablet"> 特力昆公司</span></a></li>
								<li><a class="submenu" href="/Companies/Index?companyId=5"><i class="icon-sitemap"></i><span class="hidden-tablet"> 天禹供热公司</span></a></li>
								<li><a class="submenu" href="/Companies/Index?companyId=6"><i class="icon-sitemap"></i><span class="hidden-tablet"> 销售公司</span></a></li>
							</ul>
						</li>	
						<li><a class="dropmenu"><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 热源厂</span></a>
						<ul>
								<li><a class="submenu" href="/HeatSources/Index"><i class="icon-list-alt"></i><span class="hidden-tablet"> 基础信息</span></a></li>
								<li><a class="submenu" href="/HeatSources/RealTime"><i class="icon-eye-open"></i><span class="hidden-tablet"> 实时监测</span></a></li>
							</ul>
						</li>
						<li><a class="dropmenu"><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 热力站</span></a>
							<ul>
								<li><a class="submenu" href="/Stations/Paged"><i class="icon-list-alt"></i><span class="hidden-tablet"> 基础信息</span></a></li>
								<li><a class="submenu" href="/Stations/RealTime"><i class="icon-eye-open"></i><span class="hidden-tablet"> 实时监测</span></a></li>
								<li><a class="submenu" href="/Stations/Statistics"><i class="icon-bar-chart"></i><span class="hidden-tablet"> 热耗统计</span></a></li>
							</ul>
						</li>
						<li><a class="dropmenu"><i class="icon-plus-sign-alt"></i><span class="hidden-tablet"> 气象信息</span></a>
							<ul>
								<li><a class="submenu" href="/Weather/Official"><i class="icon-hdd"></i><span class="hidden-tablet"> 专业气象站</span></a></li>
                                <li><a class="submenu" href="/Weather/WeatherStation"><i class="icon-hdd"></i><span class="hidden-tablet"> 气象监测数据 </span></a></li>
							</ul>
						</li>
                        <li><a class="dropmenu"><i class="icon-unlock-alt"></i><span class="hidden-tablet"> 安全日志</span></a>
							<ul>
								<li><a href="/Security/UserInfo"><i class="icon-unlock-alt"></i><span class="hidden-tablet"> 用户信息</span></a></li>
							</ul>
						</li>
						<li><a href="form.html"><i class="icon-download-alt"></i><span class="hidden-tablet"> 常用报表</span></a></li>
					</ul>
				</div>
			</div>
			<!-- end: Main Menu -->
