@model ReliDemo.ViewModels.WeatherStationsLastestViewModel
@{
    ViewBag.Title = "Official";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
.rb-grid
{
    list-style: none;
    text-align: center;
    margin: 0 auto;
}
.rb-grid li {
    width: 41.5%;
    height: 4em;
    margin: 0.5%;
    background: #8CC7DF;
    color: #fff;
    display: block;
    float: left;
    padding: 0.2em 0.8em;
    cursor: pointer;
    position: relative;
}
.rb-grid li.rb-span2
{
    width: 99%;
    margin: 0.5%;
    height: 7.5em;
}
.rb-grid {
    margin: 0.5%;
    height: 15em;
}
.rb-grid li:nth-child(1),.rb-grid li:nth-child(13)  { background: #3399CC; }
.rb-grid li:nth-child(2),.rb-grid li:nth-child(14) { background: #33CCCC; }
.rb-grid li:nth-child(3),.rb-grid li:nth-child(15) { background: #996699; }
.rb-grid li:nth-child(4),.rb-grid li:nth-child(16) { background: #C24747; }
.rb-grid li:nth-child(5),.rb-grid li:nth-child(17) { background: #e2674a; }
.rb-grid li:nth-child(6),.rb-grid li:nth-child(18) { background: #FFCC66; }
.rb-grid li:nth-child(7),.rb-grid li:nth-child(19) { background: #99CC99; }
.rb-grid li:nth-child(8),.rb-grid li:nth-child(20) { background: #669999; }
.rb-grid li:nth-child(9),.rb-grid li:nth-child(21) { background: #CC6699; }
.rb-grid li:nth-child(10),.rb-grid li:nth-child(22) { background: #339966; }
.rb-grid li:nth-child(11),.rb-grid li:nth-child(23) { background: #666699; }

.rb-grid li h3{
    font-size: 1.5em;
    font-weight: 100;
    font-family: "Microsoft YaHei";
}
.rb-temp {
display: block;
font-size: 1.2em;
}

#weathermap 
{
    height:687px;
}
</style>
<script type="text/javascript" src="http://api.map.baidu.com/api?v=1.5&ak=C17ce0c9f897bac7d7bb25196aca89d2"></script>

<h2>北京市专业气象站 <span style="font-size:14px"> 上次更新时间 @string.Format("{0:yyyy-MM-dd HH:mm:ss tt}", Model.UpdatedAt ) </span></h2>

<div class="row-fluid">

<div class="span12">

<div class="row-fluid">
    <div class="span8">
        <div id="weathermap"></div>
    </div>
    <div class="span4">
    <ul class="rb-grid">
    @foreach (var latest in Model.WeatherStations)
    {
        <li class="icon-clima-2 @if(latest.WeatherStationName == "朝阳") {<text> rb-span2</text> } ">
            <a href="/Weather/WeatherStation?WeatherStationId=@latest.WeatherStationId">
            <h3>@latest.WeatherStationName</h3>
            <span class="rb-temp">@latest.Temperatures.First().Temperature ℃</span>
            </a>
        </li>
    }
    </ul>
    </div>
</div>

</div>
</div>
<script type="text/javascript">
    var poi = [
        {
            "name": "朝阳",
            "latlng" : [116.482694,39.816001]
        },
        {
            "name": "观象台",
            "latlng": [116.480172, 39.813556]
        },
        {
            "name": "龙潭湖",
            "latlng": [116.444631, 39.887525]
        },
        {
            "name": "雕塑园",
            "latlng": [116.251328, 39.905773]
        },
        {
            "name": "车道沟",
            "latlng" : [116.308386,39.950792]
        },
        {
            "name": "石景山",
            "latlng": [116.206307, 39.917644]
        },
        {
            "name": "玉渊潭",
            "latlng": [116.317231, 39.920971]
        },
        {
            "name": "方庄",
            "latlng": [116.43414, 39.867541]
        },
        {
            "name": "左热",
            "latlng": [116.452766, 39.962322]
        },
        {
            "name": "宝能",
            "latlng": [116.368595, 40.041462]
        },
        {
            "name": "官园",
            "latlng": [116.364366, 39.937944]
        },
        {
            "name": "奥体中心",
            "latlng": [116.400191, 39.992442]
        },
        {
            "name": "天安门",
            "latlng": [116.403719, 39.915175]
        },
        {
            "name": "大观园",
            "latlng": [116.362798, 39.876875]
        },
        {
            "name": "四惠桥",
            "latlng": [16.488634, 39.913888]
        },
        {
            "name": "和平西桥",
            "latlng": [116.424463, 39.974502]
        },
        {
            "name": "古观象台",
            "latlng" : [116.440638,39.913348]
        },
        {
            "name": "双榆树",
            "latlng": [116.332532, 39.975438]
        },
        {
            "name": "海淀",
            "latlng": [116.275077, 40.047165]
        }
    ]; 
    // 百度地图API功能
    var map = new BMap.Map("weathermap");            // 创建Map实例
    var center = new BMap.Point(116.354, 39.935);    // 创建点坐标
    map.centerAndZoom(center, 12);   
    map.enableScrollWheelZoom();                            //启用滚轮放大缩小
    var markers = [];
    for (var i = 0; i < poi.length; i++) {
        var point = new BMap.Point(poi[i].latlng[0], poi[i].latlng[1]);    // 创建点坐标
        var marker = new BMap.Marker(point);  // 创建标注
        map.addOverlay(marker);              // 将标注添加到地图中
        var label = new BMap.Label(poi[i].name + "<br/> " + $(".rb-grid li:eq( " + i + " ) span").html(), { offset: new BMap.Size(10, -10) });
        label.setStyle({
            color: "red",
            fontSize: "18px",
            height: "44px",
            lineHeight: "24px",
            fontFamily: "微软雅黑"
        });
        marker.setLabel(label);
        marker.addEventListener("click", function () {
            var index = markers.indexOf(this);
            var infoWindow = new BMap.InfoWindow(poi[index].name + $(".rb-grid li:eq( " + index + " ) span").html() );
            this.openInfoWindow(infoWindow);
        });
        markers.push(marker);
    }

    map.addControl(new BMap.NavigationControl());  //添加默认缩放平移控件

    
</script>