@model  ReliDemo.ViewModels.WeatherStationViewModel

@{
    ViewBag.Title = "气象站";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row-fluid">
<div class="span8">
<p>
    @Html.ActionLink("返回气象站列表", "Official")
</p>
</div>
</div>
<div class="row-fluid">
    <h1 style="font-family: 'Microsoft Yahei',sans-serif;font-size: 24px;margin-bottom: 0.9em;line-height: 30px;">
        @Model.WeatherStationName
        <span style="font-size:14px"> 上次更新时间  </span>
    </h1>
    <div class="span8"></div>
</div>

<div class="row-fluid">
@Html.Partial("TemperatureGraph", Model.Temperatures)
</div>