@{
    ViewBag.Title = "Configuration";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <form>
        <fieldset>
            <label>供热开始时间</label>
            <div class="input-group date col-sm-4">
				<span class="input-group-addon"><i class="icon-calendar"></i></span>
				<input type="text" class="form-control date-picker" id="date01" data-date-format="mm/dd/yyyy">
			</div>
        </fieldset>
    </form>

</div>
