@model IEnumerable<ReliDemo.Models.Station1stHistory>

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<table>
    @foreach (var model in Model)
    {
        <tr>
            <td>@Html.DisplayText(model.时间.HasValue? model.时间.Value.ToString("yyyy-MM-dd HH:mm:ss") : "")</td>
        </tr>
    }
        
</table>