@{
    ViewBag.Title = "入室测温";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>入室测温</h1>
<div class="">
<div>最新导入数据：1000条，导入时间：2014年1月4日  每页显示：</div>
	<ul class="nav nav-pills" id="pills">
		<li><a href="#">10</a></li>

	</ul>
</div>
<div class="scrollableTableContainer">
	<table class="table  table-bordered table-hover  table-condensed table-clickhighlight datatable" style="background:white">
		<thead>
			<tr>
			<td>热力站</td>
			<td>用户名</td>
			</tr>
		</thead>
		<tbody>

		</tbody>
	</table>
</div>