<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <remove name="xz2013Entities" />
        <remove name="LocalSqlServer" />
        <add connectionString="metadata=res://*/Models.reli.csdl|res://*/Models.reli.ssdl|res://*/Models.reli.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=YAQIZHAO-PC;initial catalog=xz2013_new;User ID=sa;Password=88458170;multipleactiveresultsets=True;App=EntityFramework&quot;" name="xz2013Entities" providerName="System.Data.EntityClient" />
    </connectionStrings>
</configuration>
