<div class='btn-group topmenu'>
    @Html.ActionLink("基础信息", "BasicInfo", new { heatSourceId = Model.HeatSourceId }, new { @class = ViewBag.Title == "BasicInfo" ? "btn selected" : "btn" })
    @Html.ActionLink("机组历史", "History", new { heatSourceId = Model.HeatSourceId }, new {@class = ViewBag.Title == "History" ? "btn selected" : "btn" })
</div>