<div class='btn-group topmenu'>
    @Html.ActionLink("基础信息", "BasicInfo", new { heatSourceId = Model.HeatSourceId }, new { @class = "btn" })
    @Html.ActionLink("机组历史", "History", new { heatSourceId = Model.HeatSourceId }, new { @class = "btn" })
</div>