<div class='btn-group topmenu'>
    @Html.ActionLink("全网", "BasicInfo", new {}, new { @class = "btn" })
    @Html.ActionLink("东部", "History", new { }, new { @class = "btn" })
    @Html.ActionLink("西部", "Graph", new {  }, new { @class = "btn" })
    @Html.ActionLink("独网", "Customers", new {  }, new { @class = "btn" })
</div>