@{
    ViewBag.Title = "HistoryDetail";
}

<h2>HistoryDetail</h2>
<th>供温<span class="symbol">(℃)</span></th>
		<th>回温<span class="symbol">(℃)</span></th>
		<th>供压<span class="symbol">(MPa)</span></th>
		<th>回压<span class="symbol">(MPa)</span></th>
		<th>累计供水流量 <span class="symbol">(t/h)</span></th>
        <th>累计回水流量<span class="symbol">(t)</span></th>
		<th>累计供水热量<span class="symbol">(GJ)</span></th>
		<th>累计回水热量<span class="symbol">(GJ)</span></th>
		<th>瞬时供水流量<span class="symbol">(t/h)</span></th>
        <th>瞬时回水流量<span class="symbol">(t/h)</span></th>
		<th>瞬时供水热量<span class="symbol">(GJ/h)</span></th>
        <th>瞬时回水热量<span class="symbol">(GJ/h)</span></th>
		<th>累计热量<span class="symbol">(GJ)</span></th>
		<th>瞬时热量<span class="symbol">(GJ/h)</span></th>
		<th>累计补水量<span class="symbol">(t)</span></th>
        <th>瞬时补水量<span class="symbol">(t)</span></th>
		<th>当日<span class="symbol">(GJ)</span></th>