/* dashboard
=================================================================== */
body {
	font-family: 'Lucida Sans Unicode',Tahoma, Helvetica, Arial, sans-serif;
}
h1,h2,h3 {
	font-family: 'Microsoft Yahei','Yahei','Lucida Sans Unicode',Tahoma, Helvetica, Arial, sans-serif;
}
#tooltip {
   position: absolute;
   display: none;
   border: 1px solid white;
   padding: 3px;
   background-color: @blue;
   color:white;
   font-size:14px;
   border-radius:3px;
}
#content {
	> h2 {
	font-size:24px;
	line-height:1.5em;
	font-family:"Microsoft Yahei","Yahei",sans-serif;
	margin-bottom:0.9em;
	}
}
.fullWidth {
	width: 100%;
	display: block;
	tr {
		width: 100%;
		display: block;
	}
}
.smallstat {
	.date-overlay {
		width: 22%;
		padding-left: 1%;
		height: 50px;
		margin-right: 2%;
		.border-radius(2px);
		float: left;

	}
	.data {
		float: left;
		width: 25%;
	}
	a:hover {
		text-decoration: none;
	}
	&:hover {
		text-decoration: none;
	}
	small {
			font-size:14px;
			vertical-align:bottom;
			line-height:24px;
	}
	.time {
		font-size:12px;
		float:none;
		clear:both;
		display:block;
	}
	.alignvalue {
		padding-left:60px;
	}
	.title {

			font-size: 14px;
			vertical-align:bottom;
			height:20px;
			overflow:hidden;
		}
		.value {

			font-size: 22px;
			vertical-align:bottom;
			line-height:24px;
			height:24px;
			overflow:hidden;
			display:block;
		}
}


.table {
	margin-bottom: 0;
	.right {
		text-align: right;
	}
}
.table-condensed {
	input {
		margin-bottom:0;
	}
	select {
	margin-bottom:0;
	}
}
.backgroundColorHeader {
	&.blue { 
	background: @blue; 
	@backgroundColor:@blue;
		
		.box-icon {
			background: darken(@backgroundColor,10%);
			i {
				border-left-color: darken(@backgroundColor,10%);
			}
		}
	}
	&.lightBlue { background: @lightBlue; }
	&.green { background: @green; }
	&.darkGreen { background: @darkGreen; }
	&.pink { background: @pink; }
	&.orange { background: @orange; }
	&.lightOrange { background: @lightOrange; }
	&.red { background: @red; }
	&.yellow { background: @yellow; }
	&.white { background: white; }
	&.grey { background: @grey; }
	&.crimson { 
	background: @crimson; 
	@backgroundColor:@crimson;
		
		.box-icon {
			background: darken(@backgroundColor,10%);
			i {
				border-left-color: darken(@backgroundColor,10%);
			}
		}
		h2 i {
			background: darken(@backgroundColor,10%);
		}
	}
}

.box {
	.box-header{
		.box-subTitle {
			float: right;
			font-size: 16px;
			line-height: 20px;
			padding: 8px 0;
			margin: 0 20px 0 0;
		}

		h2 {
			font-size:16px;
			font-weight:normal;
			line-height:16px;
		}
		.btn-small {
			padding:0 10px;
			line-height:20px;
		}
		&.nav-tabs {
			font-weight:bold;
			margin-bottom:0;
			border-bottom:none;
			a {
				color:white;
			}
			.active>a{
				color:black;
			}
			li:hover>a {
				color:@blue;
			}
		}
	}

	.form-inline label {
		padding-right:10px;
	}
}

.makeTableHeaderAsBoxHeader {
	position: relative;
	top:-46px;
	margin-bottom: -46px;
	border-top:none!important;
	border-right:none!important;
	thead th {
		color: #FFF!important;
		background: none!important;
		border:none!important;
		a {
			color: #FFF;
		}
	}
	tbody tr:first-child td {
		border-top: none;
	}
}
.centerhead {
	th {
		text-align:center;
	}
}
/* highlight
========================*/
.highlighting {
	.highlightBlue {
		color:@blue;
	}
	.highlightRed {
		color:@red;
	}
}
/* table
=================================================================== */
.table {
	&.table-bordered {
		-webkit-border-radius:0;
		-moz-border-radius:0;
		border-radius: 0;
		
		thead:first-child tr:first-child>th:first-child,tbody:first-child tr:first-child>td:first-child,tbody:first-child tr:first-child>th:first-child,thead:last-child tr:last-child>th:first-child,tbody:last-child tr:last-child>td:first-child, tbody:last-child tr:last-child>th:first-child, tfoot:last-child tr:last-child>td:first-child, tfoot:last-child tr:last-child>th:first-child {
			-webkit-border-radius:0;
			-moz-border-radius:0;
			border-radius: 0;
		}
	}
	th {
		background-color:#ededed;
		color: #000;
		font-weight: bold;
	}
	td {
		color: #111;
	}
	.sorting_asc {
		background-image:url("@{baseurl}/sort_asc.png");
		background-repeat:no-repeat;
		background-position:right center;
	}
	.sorting_desc {
		background-image:url("@{baseurl}/sort_desc.png");
		background-repeat:no-repeat;
		background-position:right center;
	}
	.sorting {
		background-image:url("@{baseurl}/sort_both.png");
		background-repeat:no-repeat;
		background-position:right center;
	}
}

/* station
========================*/
.subNav {
	margin-left: 0;
	
	li {
		float: left;
		display: inline-block;
		margin: 0;
		padding: 5px 15px;
		line-height: 24px;
		background: #393f4c;
		border-right:1px solid rgba(255,255,255,0.1);
		border-left: 1px solid rgba(0,0,0,0.5);
		&.current {
			background-color: @mainColor;
		}
		&:first-child {
			border-radius: 4px 0 0 4px;
			border-left: none;
		}
		&:last-child {
			border-radius: 0 4px 4px 0;
			border-right: none;
		}
		a {
			color: #fff;
		}
		a:hover {
			text-decoration: none;
		}
	}
}
.table-zebra {
	td {
		color: #333;
	}
	tr {
		td:nth-child(2n) {
			background-color: @lightGrey;
		}
	}
	tr:nth-child(2n) {
		background-color: @lightGrey;
		td:nth-child(2n) {
			background-color: white;
		}
	}
	em {
		font-style: normal;
		color: #000;
		font-size: 18px;
		
	}
	a {
			color: @blue;
	}

}

.pieChartWithCenterText {
	position:relative;
	.centerText {
		position:absolute;
		top:45%;
		left:0;
		width:100%;
		line-height:24px;
		text-align:center;
		z-index:100;
		color:#000;
	}

}
.topmenu {
	position:relative;
	top:15px;
	margin-bottom:20px;
	.btn {
		background-color:#393f4c;
		color:#FFF;
	}
	.btn:hover,.selected {
		background-color:#0071c0;
	}
}
.stationTitle {
	margin-bottom:20px;
	
}

/* table 
===========================*/
.scrollableTableContainer {
	width:100%;
	overflow:scroll;
	overflow-x:scroll;
	overflow-y:visible;
	table  {
		th,td {
			min-width:140px;
			width:auto;
			max-width:none;
		}

	}
	.table {
		width:auto;
		max-width:none;
	}
}
.table {
	.alert td {
		font-weight:bold;

	}
	.time {
		font-size:10px;
		letter-spacing:-1px;
	}
}
.table-hover {
	tbody tr:hover>td {
		background-color:lighten(@blue,45%);
		color:black;
	}

}
::-webkit-input-placeholder {
	color:#666!important;
}
:-moz-placeholder {
	color:#666!important;
}
::-moz-placeholder {
	color:#666!important;
}
:-ms-input-placeholder {
	color:#666!important;
}

/* Station
=============================*/
#submitFilter {
height:87px;
line-height:80px;
font-weight:bold;
margin-bottom:20px;
overflow:hidden;
width:100%;
}
.heightAuto #submitFilter {
height:auto!important;
line-height:30px;
}

/* Sidebar
============================*/
.dropmenu{
	[class^="icon-"],[class*=" icon-"] {
		background-color:white;
		color:#383e4b;
		padding:2px 2px;
		border-radius:2px;
		width:14px;
		display:inline-block;
		text-align:center;
	}
	
}
.icon-companyname:before {
		content:""!important;
		display:none;
}
.icon-companyname {
		background-color:white;
		color:#383e4b;
		padding:2px 2px;
		border-radius:5px;
		width:14px;
		font-size:12px;
		display:inline-block;
		text-align:center;
}
a.box {
	display:inline-block;
}

/* alert
======================*/
.alert-block {
	a {
		color:#c09853;
	}
}