@{
    ViewBag.Title = "Index";
}

<h2>成本分析</h2>


		<table class="table  table-bordered box backgroundColor white">
			<thead>
				<tr><th rowspan="2"></th><th colspan="3">今日</th><th colspan="3">昨日</th><th colspan="3">供暖季累计</th></tr>
				<tr><th>全网</th><th>燃煤</th><th>燃气</th><th>全网</th><th>燃煤</th><th>燃气</th><th>全网</th><th>燃煤</th><th>燃气</th></tr>
			</thead>
			<tbody>
				
				<tr><td>供热量(GJ)</td><td>全网</td><td>燃煤</td><td>燃气</td><td>全网</td><td>燃煤</td><td>燃气</td><td>全网</td><td>燃煤</td><td>燃气</td></tr>
				<tr><td>购热成本(万元)</td><td>全网</td><td>燃煤</td><td>燃气</td><td>全网</td><td>燃煤</td><td>燃气</td><td>全网</td><td>燃煤</td><td>燃气</td></tr>
			</tbody>
		</table>


		<hr />
		<table class="table  table-bordered box backgroundColor white table-hover table-clickhighlight table-dblclickactive">
			<thead>
				<tr><th rowspan="2">热源厂</th><th rowspan="2">机组类型</th><th colspan="2">今日</th><th colspan="2">昨日</th><th colspan="2">供暖季累计</th></tr>
				<tr><th>供热量</th><th>购热成本</th><th>供热量</th><th>购热成本</th><th>供热量</th><th>购热成本</th></tr>
			</thead>
			<tbody>
				
				<tr><td><a href="#">华能基本</a></td><td></td><td>供热量</td><td>购热成本</td><td>供热量</td><td>购热成本</td><td>供热量</td><td>购热成本</td></tr>
			</tbody>
		</table>

