@model IEnumerable<ReliDemo.Models.Company>
<div class="box">
		<div class="box-header backgroundColorHeader crimson">
			<h2><i class="icon-bar-chart"></i>超标站统计</h2>
		</div>
		<div class="box-content">
			<table class="table datatable table-hover table-clickHighlight">
				<thead>
				<th>公司</th>
				<th>站总数</th>
				<th>回温超标</th>
				</thead>
				<tbody>
                    @foreach (var company in Model)
                    {
                        if (company.ItemID == 0 || company.ItemID == 4 || company.ItemID == 5 || company.ItemID == 6)
                        {
                        <tr>
                            <td>
                                @company.公司
                            </td>
                            <td>
                                @company.热力站个数
                            </td>
                            <td>
                                @company.温度超标站个数
                            </td>
                        </tr>
                        }
                    }
                </tbody>
			</table>
		</div>	
</div><!--/box-->