@model ReliDemo.ViewModels.ConfigurationViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>系统设置</h2>

<table class="table  table-bordered box backgroundColor white">
    <tr>
        <td> 回水温度 </td>
        <td></td>
    </tr>
</table>