@{
    ViewBag.Title = "出错了";
}
<div class="row-fluid">
	<div class="message-view span12" style="background-color:white;position:static">
		<div class="message">
			<div class="header">
				<h1>对不起，您请求的页面不存在</h1>
			</div>
			<div class="content">
			<p>您请求的页面不存在，或者服务器维护中，您可以尝试：</p>
			
			</div>
			<div class="attachments">
				<ul>
					<li><a href="/"><big><span class="label label-important"><i class="icon-white icon-home"></i></span> 返回首页</a></big></li>
					<li><big><span class="label label-important"><i class="icon-phone icon-home"></i></span> 联系管理员：<strong>010-57670199, 010-57670335</strong></big></li>
				</ul>
			</div>
		</div>
	</div>
</div>