@model IEnumerable<ReliDemo.Models.Managership>
<div class="box">
		<div class="box-header backgroundColorHeader crimson">
			<h2><i class="icon-bar-chart"></i>超标站统计</h2>
		</div>
		<div class="box-content">
			<table class="table datatable table-hover table-clickHighlight">
				<thead>
				<th>管理单位</th>
				<th>站总数</th>
				<th>回温超标</th>
				</thead>
				<tbody>
                    @foreach (var company in Model)
                    {
                        <tr>
                            <td>
                                @company.管理单位
                            </td>
                            <td>
                                @company.热力站个数
                            </td>
                            <td>
                                @company.温度超标站个数
                            </td>
                        </tr>
                    }
                </tbody>
			</table>
		</div>	
</div><!--/box-->